.header {
    height: 100px;
    width: 100%;
    padding: 2em;
    padding-inline: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);

    #hamburger {
        display: none !important;
    }


    .inputContainer {
        height: 40px;
        display: flex;

        input {
            height: inherit !important;
            width: 344px;
            border: 1.5px solid #e4e7ee;
            border-radius: 8px 0 0 8px;
            text-indent: 20px;
        }
        .inputIcon {
            width: 56px !important;
            height: 40.5px;
            margin-left: -1px;
            background: #39CDCC;
            border-radius: 0 8px 8px 0;
            display: grid;
            place-items: center;
        }
    }

    #option {
        display: none !important;
    }

    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2em;

        #docs {
            font-size: 1rem;
            text-decoration: underline;
            margin-right: 1em;
        }

        p {
            color: var(--primaryColor);
            font-size: 1rem;
            font-weight: 500;
            margin-inline: -20px;
        }
    }
}

/* Styles for small mobile devices go here */
@media only screen and (max-width: 767px) {

    .header {
        padding-inline: 1.5em;

        #logo {
            display: none;
        }

        #hamburger {
            display: block !important;
        }
    

        input {
            width: 172px !important;
        }

        #option {
            display: block !important;
        }

        .profileContainer {
            display: none;
        }
    }
}