:root {
  --primaryColor: #213F7D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  /* Your styles for small mobile devices go here */
  html, body {
    font-size: 14px !important;
  }
}
